:root {
    --color-primary: #0f9ed8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #0f9ed8;
}

body {
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
}

.color-icon {
    color: var(--color-primary);
}

.navbar {
    background: #8e8e8e;
    padding: 8px 0;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    margin-left: 20px;
}

.nav-item a,
.nav-item span {
    color: #fff;
    font-size: 14px;
}

.nav-item a:hover {
    transition: all 0.2s;
    opacity: 0.6;
}

.nav-link {
    color: #232020;
    text-decoration: none;
    font-size: 1.3rem;
}

.logo-search {
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
}

.contact-row__us {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn.search {
    padding: 11px 30px;
    background: var(--color-primary);
    border-radius: 3px;
}

.contact-row__search {
    padding: 2px;
    border: 1px solid var(--color-primary);
    display: flex;
    border-radius: 3px;
    align-items: center;
    justify-items: center;
}

.contact-email {
    border-left: 2px solid #ccc;
    padding-left: 12px;
}

.contact-email__address {
    margin-right: 16px;
}

#contact_input-search {
    padding: 0 10px;
    font-size: 1.3rem;
    height: 100%;
    border: none;
    outline: none;
    flex-grow: 1;
}

.color-icon__search {
    color: #fff;
}

/*.contact-phone {*/
/*    margin-right: 14px;*/
/*}*/

.contact-tg {
    justify-content: flex-end;
}

.account {
    display: flex;
    align-items: center;
    margin-right: 18px;
}

.account-icon {
    font-size: 30px;
    margin-right: 5px;
}

.cart {
    display: flex;
    align-items: center;
}

.cart_icon{
position: relative;
    content: "";

}
.cart_icon > p {
    position: absolute;
    width: 12px;
    height: 12px;
    text-align: center;
    /*top: -12px;*/
    top: -6px;
    right: 0;
    background: #1f9425;
    color: #fff;
    font-size: 0.8rem;
    /*border: 1px solid red;*/
    border-radius: 50%;
}

.menu {
    background: #0f9ed8;
}

.menu-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item {
    padding: 12px 16px;
    color: #fff;
}

.menu-link {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    /*padding: 12px 16px;*/
    transition: all 0.3s;
}

.menu-link:hover {
    background: rgba(0, 0, 0, 0.3);
}

.category-list {
    position: relative;
}

.category-list:hover .category-item{
    display: block;
}

.category-item {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #ccc;
    z-index: 9999;
    /*text-align: center;*/
    display: none;

}

.category-link {
    display: block;
    color: inherit;
    font-size: inherit;
    padding: 8px 16px;
}
.category-link:hover {
    /*background: #ccc;*/
    opacity: 0.5;
}


.product {
    margin-top: 26px;
    border: 1px solid #ccc;
    box-shadow: 0 0 0 #fff;
}

.product-title {
    background: #0f9ed8;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

.product-body {
    display: flex;
    flex-wrap: wrap;
}

.product-hu {
    display: flex;
    flex-direction: column;
}

.product-hu:hover .product-hut {
    opacity: 1;
    transition: all 0.6s;
}

.product-hu:hover {
    box-shadow: 0 2px 12px rgb(0 0 0 / 12%);
}

.product-hu__image {
    width: 100%;
    height: 250px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.product-hu:hover .product-hu__image {
    transition: all 0.6s;
    transform: scale(0.9) translateY(-8px);
}

.product-hut {
    width: 100%;
    /* opacity: 0; */
}

.product-hut__link {
    display: block;
    padding: 6px;
    text-decoration: none;
    background: #0f9ed8;
    color: #fff;
}

.product-hut__link:hover {
    transition: all 0.6s;
    opacity: 0.8;
}

.product-detail {
    text-align: center;
    padding: 6px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.name-product {
    margin-bottom: 6px;
}

.price-product {
    margin-bottom: 4px;
}

.product-text {
    color: #474c51;
    font-size: 1.2rem;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.price-product > span {
    font-size: 0.9rem;
}

.price-normal {
    color: red;
}

.price-promotion {
    text-decoration: line-through;
    opacity: 0.5;
}

.footer {
    /*padding: 32px 0;*/
}

.footer-contact {
    margin-top: 12px;
    background: #cfcfcf;
    padding: 10px 0;
}

.footer-contact__network {
    display: flex;
}

.footer-contact__newsletter {
    display: flex;
    background-color: #fff;
    border: 1px solid var(--color-primary);
    justify-content: flex-end;
    padding: 2px;
    border-radius: 3px;
}

.footer-contact__newsletter input[type="email"] {
    border: none;
    outline: none;
    padding: 15px 10px;
    flex: 1;
    font-size: 16px;
}

.footer-contact__newsletter button[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.footer-help {
    padding: 32px 0;
}

.footer-icon {
    padding: 9px 6px;
    font-size: 2.2rem;
    color: #8e8e8e;
}

.footer-help {
    display: flex;
}

.footer-help__title {
    text-transform: uppercase;
    color: #8e8e8e;
    font-size: 1.2rem;
}

.footer-help__title ~ p {
    font-size: 0.9rem;
    padding: 12px 0;
}

.footer-help__title ~ p > a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #ccc;
    margin-bottom: 4px;
}

.footer-help__text {
    font-size: 0.8rem;
    text-align: center;
}

.help-link {
    text-decoration: none;
    font-size: 0.9rem;
    color: #8e8e8e;
}

.help-icon {
    font-size: 1.2rem;
    margin-right: 6px;
}

.login-box {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d2d6de;
}
.information {
    background: red;
}

.information > p {
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
    padding: 12px;
}


.login, .signup {
    background: #fff;
    width: 360px;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0 0 6px 4px #ccc;
}

.login > h3 {
    padding: 16px;
    text-align: center;
}

.login , .signup  h3 {
    padding: 16px;
    text-align: center;
}


.login a {
    display: block;
    color: #0f9ed8;
    font-size: 0.9rem;
    margin-bottom: 4px;
}

#form-login__email, #form-signup__username, #form-signup__email {
    position: relative;
    width: 100%;
    height: 36px;
    outline: none;
    margin-bottom: 12px;
    padding: 0 12px;
    border: 1px solid #ccc;
}

#form-login__email:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "\f003";
    font-family: 'Font Awesome\ 5 Free';
    font-size: 36px;
    font-weight: 900;

}

#form-login__password, #form-signup__password , #form-signup__retype-password{
    position: relative;
    width: 100%;
    height: 36px;
    outline: none;
    margin-bottom: 12px;
    padding: 0 12px;
    border: 1px solid #ccc;
}


#login-submit , #signup-submit{
    padding: 10px 24px;
    background: #0f9ed8;
    border: none;
    margin-bottom: 12px;
    color: #fff;
}

#login-submit:hover {
    opacity: 0.9;
}

.signup span {
    font-size: 0.8rem;
    color: red;
}

.signup_home {
    display: block;
    font-size: 0.9rem;
}

.signup_home > i{
    margin-right: 4px;
}

.slick-slider {

}

.slick-prev {
    position: absolute;
    background: transparent;
    border: none;
    outline: none;
    width: 45px;
    height: 45px;
    color: #ccc;
    top: 50%;
    left: 0;
    z-index: 1000;
}
.slick-next {
    position: absolute;
    background: transparent;
    border: none;
    outline: none;
    color: #ccc;
    width: 45px;
    height: 45px;
    top: 50%;
    right: 0;
    z-index: 1000;
}

.fade {
    margin: 0 -14px;
}

.product-details {
    padding: 34px;
}

