* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}
img {
  display: block;
  margin: 0 auto;
}
.menu {
  background: #0f9ed8;
}

.menu-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.menu-link {
  display: block;
  text-decoration: none;
  padding: 12px 16px;
  line-height: 1.6rem;
  color: white;
}

.menu_sroll {
  position: relative;
  top: -48px;
  left: 0;
  width: 14%;
  color: #4998c4;
  z-index: 999;
}

.manage-list {
  list-style: none;
  background: #222d32;
  height: 100vh;
}

.manage-title {
  padding: 12.7px 16px;
  background: rgba(0, 0, 0, 0.1);
  color: white;
}

.manage-item {
  padding: 12px 16px;
}

.manage-link {
  text-decoration: none;
  color: #b8c7ce;
}

.manage-item__title {
  background: #1a2226;
  color: #2f5a6f;
}

.content_admin {
  position: absolute;
  left: 14%;
  width: 80%;
  /*z-index: ;*/
  padding: 32px;
}

table {
  width: 100%;
}

tr,
th,
td {
  padding: 12px 60px;
}

.icon-edit {
  width: 45px;
  font-size: 1.2rem;
  color: #49e843;
  text-align: center;
}

.category_action {
  text-decoration: none;
  color: inherit;
}

.btn {
  padding: 4px;
  border-radius: 4px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-access {
  background: #49e843;
}

.btn-red {
  background: red;
}

tr a span {
  color: white;
}

.product-menu {
  display: flex;
  justify-content: space-between;
}

.product-link {
  background: #0f9ed8;
  padding: 12px;
  text-decoration: none;
  margin-right: 4px;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 4px;
}

.form-danhmuc {
  margin-top: 32px;
  display: flex;
}

.form-danhmuc__left {
  width: 70%;
  margin-right: 18px;
}

.form-danhmuc__right {
  width: 30%;
}

.danhmuc-input {
  width: 100%;
  height: 32px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 4px;
  transition: all 0.7s;
}

.danhmuc-input:focus {
  outline: 1px solid #75e1e1;
  border: none;
}

#level-danhmuc {
  width: 65px;
  margin-bottom: 12px;
}
#level-danhmuc option {
  padding: 6px;
}
body#login {
  background-color: rgb(77, 112, 155);
  display: flex;
}
.login {
  margin: 5% auto 0;
  background: white;
  width: 40%;
  padding: 4px;
}

.login h3 {
  font-size: 30px;
  text-align: center;
  color: #337ab7;
}

.login-input {
  padding: 18px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 12px;
}

.login_username,
.login_pw {
  display: flex;
  align-items: center;
  border: 1px solid #eeeeee;
}

.login_username {
  margin-bottom: 12px;
}

.login_pw {
  margin-bottom: 12px;
}

.full {
  flex-grow: 1;
  height: 100%;
}

.login-input input:not(input[type="submit"]) {
  display: block;
  width: 100%;
  padding: 20px 0;
  outline: none;
  border: none;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.login-input input:focus {
}

.login-input i {
  font-size: 1rem;
}

.btn_sigin {
  text-align: center;
}

.btn_sigin > input {
  cursor: pointer;
  width: 100%;
  padding: 9px;
  background: #337ab7;
  outline: none;
  border: none;
  color: white;
}

.btn_sigin > input:hover {
  opacity: 0.8;
}

.footer-input__sigin {
  text-align: center;
}

.footer-input__sigin span {
  color: red;
}

.icon_login {
  padding: 0 8px;
}
